<h1 mat-dialog-title>Edit {{data.ime}}</h1>
<div mat-dialog-content>
<mat-form-field>
    <mat-label>Username:</mat-label>
    <input matInput [(ngModel)]="data.username">
</mat-form-field>
  <mat-form-field>
    <mat-label>Ime:</mat-label>
    <input matInput [(ngModel)]="data.ime">
  </mat-form-field> 
  <mat-form-field>
    <mat-label>Prezime:</mat-label>
    <input matInput [(ngModel)]="data.prezime">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>