button{
    margin:10px;
}

:host{
    display: flex;
    justify-content: center;
    background: #4F759B;
}

.container{
    background: #4F759B;
    width: 50%;
    height: 30vh;
    margin: auto;
}

.naslov{
    color: white;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }